node-red-flow.json
[
    {
        "id": "9cec7141d83cb43e",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt_in_data",
        "type": "mqtt in",
        "z": "9cec7141d83cb43e",
        "name": "Receber dados do ESP32",
        "topic": "inclusao/device/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "json_parse",
                "80336dab20b431b5"
            ]
        ]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "9cec7141d83cb43e",
        "name": "Converter JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "function_logic"
            ]
        ]
    },
    {
        "id": "function_logic",
        "type": "function",
        "z": "9cec7141d83cb43e",
        "name": "Lógica Automática + Manual Override",
        "func": "// Converter payload string para objeto (caso necessário)\nif (typeof msg.payload === \"string\") {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.warn(\"Erro ao converter JSON: \" + msg.payload);\n        return;\n    }\n}\n\n// Se a mensagem veio de um botão, o payload NÃO é dos sensores.\nif (msg.fromButton === true || (typeof msg.payload === \"object\" && msg.payload.fromButton)) {\n    return [\n        null,\n        { payload: msg.payload.cmd === \"alerta\" ? \"ALERTA\" : \"NORMAL\" }\n    ];\n}\n\n// Agora temos certeza que o payload é um OBJETO\nlet temp = Number(msg.payload.temp);\nlet umidade = Number(msg.payload.umidade);\nlet luminosidade = Number(msg.payload.luminosidade);\n\n// Limites automáticos\nlet tempMax = 30;\nlet lumiMin = 200;\n\n// Lógica automática\nlet alerta = false;\nlet motivos = [];\n\nif (temp >= tempMax) {\n    alerta = true;\n    motivos.push(\"Temperatura alta\");\n}\n\nif (luminosidade <= lumiMin) {\n    alerta = true;\n    motivos.push(\"Luminosidade baixa\");\n}\n\nif (alerta) {\n    return [\n        { payload: { temp, umidade, luminosidade, status: \"ALERTA\", motivos } },\n        { payload: \"ALERTA\" }\n    ];\n}\n\nreturn [\n    { payload: { temp, umidade, luminosidade, status: \"NORMAL\" } },\n    { payload: \"NORMAL\" }\n];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 280,
        "wires": [
            [
                "gauge_temp",
                "gauge_umid",
                "gauge_lumi",
                "chart",
                "0296be20c64d257e"
            ],
            [
                "mqtt_out_cmd"
            ]
        ]
    },
    {
        "id": "mqtt_out_cmd",
        "type": "mqtt out",
        "z": "9cec7141d83cb43e",
        "name": "Enviar comando ao ESP32",
        "topic": "inclusao/device/cmd",
        "qos": "",
        "retain": "",
        "broker": "mqtt_broker",
        "x": 1160,
        "y": 400,
        "wires": []
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "9cec7141d83cb43e",
        "name": "",
        "group": "af2fe971083f2b0c",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload.temp}}",
        "min": 0,
        "max": 60,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 180,
        "wires": []
    },
    {
        "id": "gauge_umid",
        "type": "ui_gauge",
        "z": "9cec7141d83cb43e",
        "name": "",
        "group": "af2fe971083f2b0c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{msg.payload.umidade}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 230,
        "wires": []
    },
    {
        "id": "gauge_lumi",
        "type": "ui_gauge",
        "z": "9cec7141d83cb43e",
        "name": "",
        "group": "af2fe971083f2b0c",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosidade",
        "label": "LDR",
        "format": "{{msg.payload.luminosidade}}",
        "min": 0,
        "max": 4095,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 280,
        "wires": []
    },
    {
        "id": "chart",
        "type": "ui_chart",
        "z": "9cec7141d83cb43e",
        "name": "",
        "group": "af2fe971083f2b0c",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Histórico",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 330,
        "wires": [
            []
        ]
    },
    {
        "id": "btn_alerta",
        "type": "ui_button",
        "z": "9cec7141d83cb43e",
        "name": "",
        "group": "af2fe971083f2b0c",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ALERTA",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ff4444",
        "className": "",
        "icon": "",
        "payload": "{\"fromButton\":true, \"cmd\":\"alerta\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 300,
        "y": 390,
        "wires": [
            [
                "function_logic"
            ]
        ]
    },
    {
        "id": "80336dab20b431b5",
        "type": "debug",
        "z": "9cec7141d83cb43e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "0296be20c64d257e",
        "type": "debug",
        "z": "9cec7141d83cb43e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Público",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "af2fe971083f2b0c",
        "type": "ui_group",
        "name": "Inclusão Produtiva – Painel",
        "tab": "2f46d362f5991349",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f46d362f5991349",
        "type": "ui_tab",
        "name": "Inclusão Produtiva",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "424c5cb20d3b5c28",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]